
<mat-toolbar color="primary" class="mat-elevation-z3">

    <span>MRG</span>  
    <div class="spacer"></div>
    <a mat-raised-button color="accent" routerLink="/logout" (click)="logout($event)">Выход</a>

</mat-toolbar>

<div class="page-container">
  <div class="nav-list-frame">
    <mat-nav-list
    *ngFor="let link of links"
    routerLinkActive="active"
    >
      <a mat-list-item [routerLink]="[link.url]">{{ link.name }}</a>
    </mat-nav-list>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
