<!-- <nav>
    <div class="nav-wrapper grey darken-1">
        <a routerLink="/" class="brand-logo">Newborn</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active">
                <a routerLink="/login">Вход</a>
            </li>
            <li>
                <a routerLink="/register">Регистрация</a>
            </li>
        </ul>
    </div>
</nav> -->

<mat-toolbar color="primary" class="mat-elevation-z8">

 <span>MRG</span>  

    <div class="spacer">
        
    </div>

    <a mat-button routerLink="/register">Регистрация</a>
    <a mat-raised-button color="accent" routerLink="/login">Вход</a>
   

</mat-toolbar>


<div >
    <router-outlet></router-outlet>
</div>