<!-- <form 
class="card"
[formGroup]="form"
(ngSubmit)="onSubmit()"
>
    <div class="card-content">
        <span class="card-title">Войти в систему</span>
        <div class="input-field">
            <input 
            formControlName="username"
            id="email" 
            type="email"
            >
            <label for="email">Email:</label>
        </div>
        <div class="input-field">
            <input  
            formControlName="password"
            id="password" 
            type="password"
            >
            <label for="password">Пароль:</label>
        </div>
    </div>
    <div class="card-action">
        <button 
            type="submit"
            class="modal-action btn waves-effect"
            [disabled]="form.invalid || form.invalid"
        >Войти
        </button>
    </div>
</form>
 -->

<mat-card>
    <mat-card-header class="centered-content">
        <h1>Вход в личный кабинет</h1>
    </mat-card-header>
    <mat-card-content class="centered-content">
        <form 
        class="example-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        >
            <mat-form-field class="example-full-width">
                <mat-label>Почта</mat-label>
                <input matInput
                formControlName="username"
                id="username" 
                type="username"
              
              >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Пароль</mat-label>
                <input matInput
                formControlName="password"
                id="password" 
                type="password"
            >
            </mat-form-field>  
            <button 
            mat-raised-button color="primary"
            type="submit"
            class="modal-action btn waves-effect"
            [disabled]="form.invalid || form.disabled"
            >Войти
            </button>     
        </form>
    </mat-card-content>
  </mat-card>
